<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Welcome Home!</h1>
    <h3>You are visiting from :</h3>
    <ul>
        <li>IP Address : {{ip}}</li>
        <li>Device: {{ device_type}}</li>
        <li>Browser: {{browser_type}} {{browser_version}}</li>
        <li>OS: {{os_type}} {{os_version}}</li>
        <li>City: {{ location_city }}</li>
        <li>Country: {{ location_country }}</li>
        <li>Latitude: <span id="latitude"></span></li>
        <li>Longitude: <span id="longitude"></span></li>
    </ul>

    <script>
        if ("geolocation" in navigator) {
            navigator.geolocation.getCurrentPosition(function(position) {
                var latitude = position.coords.latitude;
                var longitude = position.coords.longitude;

                document.getElementById("latitude").innerText = latitude;
                document.getElementById("longitude").innerText = longitude;
                var csrftoken = getCookie('csrftoken');
              
                var xhr = new XMLHttpRequest();
                xhr.open("POST", "/update_location/", true);
                xhr.setRequestHeader("Content-Type", "application/json");
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
                xhr.onreadystatechange = function() {
                    if (xhr.readyState === 4 && xhr.status === 200) {
                        console.log(xhr.responseText);
                    }
                };
                var data = JSON.stringify({
                    latitude: latitude,
                    longitude: longitude
                });
                xhr.send(data);
            });
        } else {
            console.log("Geolocation is not supported by this browser.");
        }
    </script>
</body>
</html>
